n8n/workflow/Add_Notion_Task_to_TickTick.json
{
  "name": "Add_Notion_Task_to_TickTick",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "=0-59/2 * * * *"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "1748fda6-970a-8149-9c34-d7a60dcf2063",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/1748fda6970a81499c34d7a60dcf2063"
        },
        "simple": false
      },
      "id": "2cac6811-c762-4c58-bb99-ddbca9728ca6",
      "name": "New Notion Page Added",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        80
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "notes": "every 2 minutes beginning at minute 1. This results in the job running at minute 1, 3, 5, …, 59."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e6fdc752-2eeb-441a-a9c4-8d6aa3ed9816",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -460,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Loop').item.json.properties.Type.select.name }}",
              "value2": "Task"
            }
          ]
        }
      },
      "id": "5f9aa9b0-f5e7-4e26-8309-3066d7d7c45a",
      "name": "Is Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -220,
        100
      ]
    },
    {
      "parameters": {
        "content": "### Any references to other databases or pages that have not been shared with the integration will not be accessible.",
        "height": 80,
        "width": 557.1428571428579
      },
      "id": "7f6a3751-4589-4050-a334-967a0784aa31",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        400
      ]
    },
    {
      "parameters": {},
      "id": "0c36af40-b034-4716-b05c-64a721ad6ded",
      "name": "Iteration Completed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        340
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/Notion-TickTick-Automation/ticktick && python3 main.py add_new_project_section --section_name \"{{ $json[\"properties\"][\"Name\"][\"title\"][0][\"plain_text\"] }}\" --project_id {{ $json.properties[\"Project ID\"].rollup.array[0].rich_text[0].plain_text }}"
      },
      "id": "39305209-5db3-487d-a036-19b7342a515a",
      "name": "Add Project Section",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        220
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/Notion-TickTick-Automation/ticktick && python3 main.py add_new_task --task_name {{ JSON.stringify($json[\"properties\"][\"Name\"][\"title\"][0][\"text\"][\"content\"]) }} --project_id {{ $json.properties['Project ID'].rollup.array[0].rich_text[0].text.content }} --section_id {{ $json[\"properties\"][\"Section ID\"][\"rollup\"][\"array\"][0][\"rich_text\"][0][\"plain_text\"] }} --content \"[Notion URL]({{ $json.url }})\" --priority {{  $json.properties[\"Priority ID\"].formula.number }} --start_date \"{{ $ifEmpty($json.properties['Start Date'].date.start + \"T05:00:00.000+0000\", \"\") }}\" --due_date \"{{ \n$ifEmpty($json.properties['Due Date'].date.start + \"T05:00:00.000+0000\", \"\") }}\""
      },
      "id": "606e9745-c5b0-45f0-8401-3221666c50da",
      "name": "Add Task",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Is Task?').item.json.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "TickTick Entity ID|rich_text",
              "textContent": "={{ $json.stdout }}"
            },
            {
              "key": "_Section|rich_text",
              "textContent": "={{ $('Is Task?').item.json.properties['Section ID'].rollup.array[0].rich_text[0].text.content }}"
            },
            {
              "key": "_Name|rich_text",
              "textContent": "={{ $('Is Task?').item.json.properties.Name.title[0].text.content }}"
            },
            {
              "key": "_Start Date|rich_text",
              "textContent": "={{ \n$ifEmpty( $('Is Task?').item.json.properties['Start Date'].start, \"\") }}"
            },
            {
              "key": "_End Date|rich_text",
              "textContent": "={{ \n$ifEmpty( $('Is Task?').item.json.properties['Due Date'].start, \"\") }}"
            },
            {
              "key": "_Priority|number",
              "numberValue": "={{ $('Is Task?').item.json.properties['Priority ID'].formula.number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "649c204c-0a9d-4a0a-8ffe-e2d5c1fbdc81",
      "name": "Update Notion Task TickTick ID",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Is Task?').item.json.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "TickTick Entity ID|rich_text",
              "textContent": "={{ $('Add Project Section').item.json[\"stdout\"] }}"
            },
            {
              "key": "_Name|rich_text",
              "textContent": "={{ $('Is Task?').item.json.properties.Name.title[0].text.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "670d81e7-4ba2-4cc0-b01d-438935322d67",
      "name": "Update Notion Section TickTick ID",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        220,
        220
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "New Notion Page Added": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Is Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task?": {
      "main": [
        [
          {
            "node": "Add Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Project Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iteration Completed": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Project Section": {
      "main": [
        [
          {
            "node": "Update Notion Section TickTick ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Task": {
      "main": [
        [
          {
            "node": "Update Notion Task TickTick ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Task TickTick ID": {
      "main": [
        [
          {
            "node": "Iteration Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Section TickTick ID": {
      "main": [
        [
          {
            "node": "Iteration Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dae59bae-fd70-49f0-b560-40e9edeb9890",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8a036b61a7da4913e77729f80edafe0867dc68336b782e05d91338bfe239bbf"
  },
  "id": "ZfZ7iFN0ZlXxA1LB",
  "tags": []
}