n8n/workflow/Add_Notion_Project_to_TickTick.json
{
  "name": "Add_Notion_Project_to_TickTick",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "06559a40-933b-417f-8997-83c9c6a9e0c8",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        600,
        -140
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/Notion-TickTick-Automation/ticktick && python3 main.py add_new_project --project_name \"{{ $('Loop').item.json.properties.Name.title[0].text.content }}\""
      },
      "id": "5fe5bad2-c405-468c-8b91-5151da280343",
      "name": "Add New Project",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        820,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Loop').item.json.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "TickTick Entity ID|rich_text",
              "textContent": "={{ $('Add New Project').item.json[\"stdout\"] }}"
            },
            {
              "key": "Last Synced Name|rich_text",
              "textContent": "={{ $('Loop').item.json.properties.Name.title[0].plain_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7f4e46f-c5f2-49f1-bbc1-6480e3504449",
      "name": "Update Notion Project ID",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1020,
        -120
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0-59/2 * * * *"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "1748fda6-970a-81a6-a420-f7014c03bb53",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://www.notion.so/1748fda6970a81a6a420f7014c03bb53"
        },
        "simple": false
      },
      "id": "4417bac5-27fa-462b-a0ae-a0cb6b7e68aa",
      "name": "New Notion Project Created",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        380,
        -140
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "notes": "every 2 minutes, starting at minute 0. This means it runs at minute 0, 2, 4, …, 58—exactly the even-numbered minutes."
    }
  ],
  "pinData": {},
  "connections": {
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Add New Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Project": {
      "main": [
        [
          {
            "node": "Update Notion Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Project ID": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Notion Project Created": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efbae41b-44f5-499f-85fb-30be36734315",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8a036b61a7da4913e77729f80edafe0867dc68336b782e05d91338bfe239bbf"
  },
  "id": "oPWiLjUY6oO60kAQ",
  "tags": []
}