n8n/workflow/Complete_TickTick_Task_to_Notion.json
{
  "name": "Complete_TickTick_Task_to_Notion",
  "nodes": [
    {
      "parameters": {
        "command": "cat /tmp/token.txt"
      },
      "id": "6e894e8f-feae-4846-9136-ca7dddbf75eb",
      "name": "Get Token",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -600,
        20
      ]
    },
    {
      "parameters": {
        "url": "https://api.ticktick.com/api/v2/project/all/completed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $now.minus({minutes:5}).setZone('UTC').toISO().slice(0, 17).replace(/-/g, \"-\").replace(\"T\", \" \") + \"00\"}}"
            },
            {
              "name": "to",
              "value": "={{ $now.setZone('UTC').toISO().slice(0, 17).replace(/-/g, \"-\").replace(\"T\", \" \") + \"59\"}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=t= {{  $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cf3e9c89-d896-4775-974c-a229f8bad873",
      "name": "Get Completed Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -420,
        20
      ]
    },
    {
      "parameters": {
        "content": "### Notes\nIf original Notion page title was updated, the original URL in TickTick can still be used to locate the page.",
        "height": 80,
        "width": 745
      },
      "id": "f6e58bf1-4bda-4398-a05c-3522a95c4378",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Get Completed Tasks').item.json.content }}",
              "operation": "contains",
              "value2": "[Notion URL]"
            },
            {
              "value1": "={{ $json.tags }}",
              "operation": "contains",
              "value2": "notion"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "7740a8cc-6760-4ad1-87e7-c4b88deed153",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        40
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/Notion-TickTick-Automation/ticktick && python3 main.py get_task_focus_duration --task_id {{ $('IF').item.json.id }}"
      },
      "id": "4defcd47-5870-45a5-a169-27d284590f76",
      "name": "Get Task Execution Time",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('IF').item.json[\"content\"].toString().match(/\\[Notion URL]\\((https:\\/\\/[^\\s)]+)/)[1] }}",
          "mode": "url"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Done"
            },
            {
              "key": "Actual Hours|number",
              "numberValue": "={{ parseFloat($('Get Task Execution Time').item.json[\"stdout\"]) }}"
            },
            {
              "key": "Completed Date|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fed30dc8-41f1-4a3f-959d-a88be93413a9",
      "name": "Update Notion Status",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        420,
        -40
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "705557d6-46e5-4502-8baf-2501121119e7",
      "name": "Minutely Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        20
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -200,
        20
      ],
      "id": "75509466-a021-4183-9088-2294d8184019",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        140
      ],
      "id": "8dabbb45-c29f-441a-9dd3-2a5554b05b8d",
      "name": "Iteration Completed"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Token": {
      "main": [
        [
          {
            "node": "Get Completed Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed Tasks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get Task Execution Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Execution Time": {
      "main": [
        [
          {
            "node": "Update Notion Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Minutely Trigger": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Status": {
      "main": [
        [
          {
            "node": "Iteration Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iteration Completed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b1e424d-8f7a-4f15-876c-e6b94b91bd99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8a036b61a7da4913e77729f80edafe0867dc68336b782e05d91338bfe239bbf"
  },
  "id": "GhAAeM3YHmBYrrvp",
  "tags": []
}