n8n/workflow/Update_Notion_Task_to_TickTick.json
{
  "name": "Update_Notion_Task_to_TickTick",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "f32a9c22-b485-4db1-afd0-f8d35fa694b4",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -700,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Loop').item.json.properties.Type.select.name }}",
              "value2": "Task"
            }
          ]
        }
      },
      "id": "4b470f8a-3e69-4522-9a41-56fa1a1c965a",
      "name": "Is Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -460,
        100
      ]
    },
    {
      "parameters": {
        "content": "### Any references to other databases or pages that have not been shared with the integration will not be accessible.",
        "height": 80,
        "width": 557.1428571428579
      },
      "id": "cb3e69ba-58c6-4f4e-a496-70af8cf56670",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        400
      ]
    },
    {
      "parameters": {},
      "id": "7c3e04ba-5ac7-43f1-b912-83e8f78f51ea",
      "name": "Iteration Completed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.properties.Name.title[0].text.content }}",
              "operation": "notEqual",
              "value2": "={{ $json.properties['_Name'].rich_text[0].text.content }}"
            }
          ]
        }
      },
      "id": "abefab0e-e2e2-458d-883b-2ccc1f6cea35",
      "name": "Is Name Updated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.properties['_Section'].rich_text[0] != null && $json.properties['_Name'].rich_text[0] != null }}",
              "value2": "={{ true }}"
            },
            {
              "value1": "={{ ($json.properties['Name'].title[0].text.content != $json.properties['_Name'].rich_text[0].text.content) && ($json.properties['Section ID'].rollup.array[0].rich_text[0].text.content != $json.properties['_Section'].rich_text[0].text.content) }}",
              "operation": "notEqual",
              "value2": "={{ true }}"
            }
          ],
          "boolean": [
            {
              "value1": "={{ ($json.properties['Due Date'].date != null) && ($ifEmpty($json.properties['Due Date'].date.start, \"\") != $ifEmpty($json.properties['_End Date'].rich_text[0].text.content, \"\")) }}",
              "operation": "notEqual",
              "value2": "={{ true }}"
            },
            {
              "value1": "={{ $json.properties[\"Priority ID\"].formula.number }}",
              "operation": "notEqual",
              "value2": "={{ $json.properties[\"_Priority\"].number }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "4c78c04d-6167-416f-ad9d-de1471958c0d",
      "name": "Is Task Updated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        20
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/Notion-TickTick-Automation/ticktick && python3 main.py update_task --task_id {{ $json.properties['TickTick Entity ID'].rich_text[0].text.content }} --task_name \"{{ $json[\"properties\"][\"Name\"][\"title\"][0][\"text\"][\"content\"] }}\" --project_id {{ $json.properties['Project ID'].rollup.array[0].rich_text[0].text.content }} --section_id {{ $json[\"properties\"][\"Section ID\"][\"rollup\"][\"array\"][0][\"rich_text\"][0][\"plain_text\"] }}  --priority {{  $json.properties[\"Priority ID\"].formula.number }} --start_date \"{{ $ifEmpty($json.properties['Start Date'].date.start + \"T05:00:00.000+0000\", \"\") }}\" --due_date \"{{ \n$ifEmpty($json.properties['Due Date'].date.start + \"T05:00:00.000+0000\", \"\") }}\""
      },
      "id": "e9991ea3-ee34-4bed-8259-49bc37ac889d",
      "name": "Update Task",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/Notion-TickTick-Automation/ticktick && python3 main.py update_project_section_name --project_id {{ $json.properties[\"Project ID\"].rollup.array[0].rich_text[0].plain_text }} --section_id {{ $json.properties['TickTick Entity ID'].rich_text[0].text.content }} --section_name \"{{ $json[\"properties\"][\"Name\"][\"title\"][0][\"plain_text\"] }}\" "
      },
      "id": "7a7c6a73-7b7b-4ea9-b5f1-89c7762bfe07",
      "name": "Update Project Section Name",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        220
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "1-59/2 * * * *"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "1748fda6-970a-8149-9c34-d7a60dcf2063",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/1748fda6970a81499c34d7a60dcf2063"
        },
        "simple": false
      },
      "id": "618471bd-2739-4ae8-9ba1-fbd45f1a8beb",
      "name": "Notion Page Updated",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        80
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "notes": "every 2 minutes, starting at minute 0. This means it runs at minute 0, 2, 4, …, 58—exactly the even-numbered minutes."
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Is Task?').item.json.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "_Section|rich_text",
              "textContent": "={{ $('Is Task?').item.json.properties['Section ID'].rollup.array[0].rich_text[0].text.content }}"
            },
            {
              "key": "_Name|rich_text",
              "textContent": "={{ $('Is Task?').item.json.properties.Name.title[0].text.content }}"
            },
            {
              "key": "_Start Date|rich_text",
              "textContent": "={{ \n$ifEmpty( $('Is Task?').item.json.properties['Start Date'].start, \"\") }}"
            },
            {
              "key": "_End Date|rich_text",
              "textContent": "={{ \n$ifEmpty( $('Is Task?').item.json.properties['Due Date'].start, \"\") }}"
            },
            {
              "key": "_Priority|number",
              "numberValue": "={{ $('Is Task?').item.json.properties['Priority ID'].formula.number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b2bb765-2bec-41c3-a23d-167050220151",
      "name": "Update Notion Task TickTick ID",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Is Task?').item.json.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "_Name|rich_text",
              "textContent": "={{ $('Is Task?').item.json.properties.Name.title[0].text.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cf282bc0-d87d-4ab6-a0a3-4ac10cb12a40",
      "name": "Update Notion Section TickTick ID",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        200,
        220
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Is Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task?": {
      "main": [
        [
          {
            "node": "Is Task Updated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Name Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iteration Completed": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Name Updated": {
      "main": [
        [
          {
            "node": "Update Project Section Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task Updated": {
      "main": [
        [
          {
            "node": "Update Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task": {
      "main": [
        [
          {
            "node": "Update Notion Task TickTick ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project Section Name": {
      "main": [
        [
          {
            "node": "Update Notion Section TickTick ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Page Updated": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Task TickTick ID": {
      "main": [
        [
          {
            "node": "Iteration Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Section TickTick ID": {
      "main": [
        [
          {
            "node": "Iteration Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "656065cb-5da8-4deb-8627-f3ceae6537fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8a036b61a7da4913e77729f80edafe0867dc68336b782e05d91338bfe239bbf"
  },
  "id": "Db3gC8lki7G0Yq9a",
  "tags": []
}