n8n/workflow/Update_Notion_Project_to_TickTick.json
{
  "name": "Update_Notion_Project_to_TickTick",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "fd0fa824-b705-4066-b900-53b96c615497",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -440,
        40
      ]
    },
    {
      "parameters": {},
      "id": "31102865-d0cd-4d48-85a9-176a634aad46",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        360,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.properties['Last Synced Name'].rich_text[0] != null }}",
              "value2": "={{ true }}"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.properties.Name.title[0].text.content }}",
              "operation": "notEqual",
              "value2": "={{ $json.properties['Last Synced Name'].rich_text[0].text.content }}"
            }
          ]
        }
      },
      "id": "186f3f81-f50a-41b1-b059-c4cc3ec01d9e",
      "name": "If Name Updated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -220,
        60
      ]
    },
    {
      "parameters": {
        "command": "=cd /home/node/Notion-TickTick-Automation/ticktick && python3 main.py update_project --project_id {{ $('Loop').item.json.properties['TickTick Entity ID'].rich_text[0].text.content }} --project_name \"{{ $('Loop').item.json.properties.Name.title[0].text.content }}\" "
      },
      "id": "de58be08-9163-4a83-a907-89925b837d44",
      "name": "Update Project",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "1-59/2 * * * *"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "1748fda6-970a-81a6-a420-f7014c03bb53",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://www.notion.so/1748fda6970a81a6a420f7014c03bb53"
        },
        "simple": false
      },
      "id": "fb9f184f-c3be-4b68-8df1-b4fbe62b214b",
      "name": "Notion Project Updated",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        40
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "notes": "every 2 minutes beginning at minute 1. This results in the job running at minute 1, 3, 5, …, 59."
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Loop').item.json.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Last Synced Name|rich_text",
              "textContent": "={{ $('Loop').item.json.properties.Name.title[0].plain_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a96a5c61-5a03-4718-84ae-61ef8da31516",
      "name": "Update Notion State",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        180,
        0
      ],
      "credentials": {
        "notionApi": {
          "id": "PO6skvK1veiAK5Th",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "If Name Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Name Updated": {
      "main": [
        [
          {
            "node": "Update Project",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project": {
      "main": [
        [
          {
            "node": "Update Notion State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Project Updated": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion State": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3574b4da-6fcd-4692-904c-b8267f09f21d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8a036b61a7da4913e77729f80edafe0867dc68336b782e05d91338bfe239bbf"
  },
  "id": "dshFQyJgXbmTp2Md",
  "tags": []
}